body{
	overflow-x: hidden;
	background-image: url("http://s1.ibtimes.com/sites/www.ibtimes.com/files/2015/11/05/kenyan-shillings.jpg");
    background-repeat: no-repeat; 
}


h2{
	color:red;
	font-size: 45px;
	font-weight:300px;
}


a{
	color:white;
}
label{
	color: white;
}